* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
/* Header Section Started */
header {
    background: url(./images/developer.png), url(./images/header_bg.png), #fff8f3;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-position: 25px 10px, right bottom;
}
/* Navbar Section Started */
.nav-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-1 {
    font-size: 45px;
    font-weight: 800;
}
.heading-1 span {
    color: #fd6e0a;
}
.nav-links  {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    transition: color 0.3s ease;
}
.nav-links li a:hover {
    color: #fd6e0a;
}
.btn {
    padding: 10px 25px;
    background-color: #fd6e0a;
    color: white;
    border: none;
    border: 1px solid #fd6e0a;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #fff8f3;
    color: #fd6e0a;
}
/* Navbar Section Ended */
/* Banner Section Started */
.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 40px 0 210px;
}
.banner-content {
    max-width: 550px;
}
.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1 {
    font-size: 85px;
    margin: 20px 0;
}
.banner-content p {
    font-size: 20px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 30px;
}
.button {
    display: flex;
    gap: 25px;
}
.btn-2 {
    padding: 10px 25px;
    background-color: transparent;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-2:hover {
    background-color: #fd6e0a;
    color: white;
}
.banner-img {
    max-width: 560px;
}
.banner-img img {
    width: 100%;
    vertical-align: middle;
}
/* Banner Section Ended */
/* Header Section Ended */
/* About Section Started */
.about-section {
    padding-top: 130px;
}
.about-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #fff8f3;
    padding: 131px 156px;
}
.about-heading {
    text-align: center;
}
.about-heading h2 {
    font-size: 35px;
    font-weight: 700;
}
.about-heading p {
    font-size: 18px;
    color: #474747;
    margin-top: 20px;
    line-height: 30px;
}
.about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
}
.info p {
    font-size: 20px;
    color: #474747;
    margin-top: 10px;
    line-height: 28px;
}
.info h3 {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
/* About Section Ended */
/* Skills Section Started */
.skills-section {
    padding-top: 130px;
}
.skills-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-heading {
    text-align: center;
}
.skills-heading h2 {
    font-size: 35px;
    font-weight: 700;
}
.skills-heading p {
    font-size: 18px;
    color: #474747;
    margin-top: 20px;
    line-height: 30px;
}
.skills-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;
}
.info2 {
    padding: 40px 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.info2 p {
    font-size: 14px;
    color: #474747;
    margin-top: 15px;
    line-height: 28px;
}
.info2 h3 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #474747;
}
.card-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}
/* Skills Section Ended */
/* Resume Section Started */
.resume-section {
    padding-top: 130px;
}
.resume-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
}
.resume-heading-container {
    text-align: center;
}
.resume-heading h2 {
    font-size: 35px;
    font-weight: 700;
}
.education-info {
    margin-bottom: 40px;
}
.education-info h4 {
    font-size: 25px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px;
}
.education-info h5 {
    font-size: 20px;
    font-weight: 500;
    color: #474747;
    margin-bottom: 15px;
}
.education-info p {
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 20px;
}

.education-heading h3{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
/* Main Section Ended */
/* Footer Section Started */
.footer-section {
    margin-top: 130px;
    background-color: #fff8f3;
    padding: 40px 0;
}
.footer-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.name {
    margin-top: 20px;
    margin-bottom: 20px;
}
.name input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    border: none;
    outline: none;
}
.email input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    border: none;
    outline: none;
}
.message textarea {
    padding: 12px 20px;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.social{
    width: 50%;
}
.social h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.social p {
    font-size: 16px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 20px;
}
.icon {
    display: flex;
    gap: 20px;
}
.contact-form {
    width: 40%;
}
.form-heading {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}